fst/core/modelsim
fst/core/assembler
fst/arch_simulator/arch_simulator
fst/arch_simulator/sim
fst/arch_simulator/mem.out
fst/assembler/asm
fst/compiler/test.c
fst/compiler/a.o
fst/compiler/a.s
fst/compiler/jcc
fst/compiler/jcc.output
fst/compiler/jcc.tab.cpp
fst/compiler/jcc.tab.hpp
fst/compiler/lex.yy.c
fst/compiler/lex.yy.o
fst/etc/bintomif/bintomif
fst/etc/digtomif/digtomif
fst/etc/miftobin/miftobin
fst/etc/unfolddig/unfolddig
fst/etc/unfolddig/out
fst/etc/sortdat
fst/etc/hextodig/hextodig
fst/etc/hextodig/out
fst/etc/hextodig/out.hex
fst/etc/topng/topng
fst/etc/hextopng/tmp
fst/music/90to50
*.png
*.mif
*.bin
*.o
